@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #0073E6;
  text-decoration: underline transparent;
  transition: 0.25s ease-in-out;
}

a:hover {
  color: #DA3A3A;
  transition: 0.25s ease-in-out;
}

.max-width-container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  min-height: 100vh;
}

.max-width-container.main {
  padding: 80px 30px;
}

.page-container {
  height: calc(100vh - 50px);
}

p {
  line-height: 1.6;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .page-container {
    height: auto;
    min-height: 100vh;
  }

  .max-width-container.main {
    padding: 50px 30px;
  }
}
