.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.mainContainer {
  padding: 15px 30px;
  padding-top: 45px;
}

.articleList {
  margin-top: 55px;
}

.desc {
  color: #3b3b3b;
  font-style: italic;
  font-size: 0.85rem;
}

.postItem {
  margin-bottom: 40px;
}

.profilePhotoContainer {
  width: 45%;
  position: relative;
}

.profilePhoto {
  object-fit: contain;
  width: 100%;
  position: relative !important;
  height: unset !important;
}

.button {
  display: block;
  max-width: 300px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 auto;
  padding: 10px;
  border: none;
  background-color: #3b3b3b;
  color: #fff;
}

.h1, .h2, .p {
  padding-bottom: 1rem;
}

.h2 {
  font-size: 1.25em;
}

@media (max-width: 768px) {
  .hero {
    width: 100%;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .content {
    width: 100%;
    padding: 0 0 2rem;
  }

  .profilePhotoContainer {
    width: 100%;
  }
}
